
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #4a4a4a;
$darkGray: #5a5a61;
$gray: #666;
$lightGray: #eee;
$white: #f8f8f8;

// Font stacks
$helvetica: "Open Sans", Arial, sans-serif;
$helveticaNeue: "Open Sans", Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}